# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binary name - assume binary has same name as directory
/api

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependency directories (remove the ones you don't need)
/vendor/
/Godeps/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo